/*Globalne nastavitve*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display:flex;
    align-items: center;
    flex-direction: column;
    background-image: url(ozadje.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Nastavitve za glavo*/
.header {
    height:70px;
    background-color: #585858;
    border-bottom: solid 7px #c5e7bc;
}


/*Celotni tekst*/
.tekst {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 500;
    
}


/*Prilagoditev zaslona za mobilne naprave in naprave z majhnim zaslonom*/
@media only screen and (max-width: 500px) {

    /*Nastavitve za glavo*/
    .header {
        height:50px;
        background-color: #585858;
        border-bottom: solid 7px #c5e7bc;
    }

    .ozadje_notranjost{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 80%;
    }

    /*Nastavitve za kontainer od naslova*/
    .Naslov_container {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 1rem;
    
    }

    /*Poudarek za besedo "Nadzorna"*/
    .highlight {
        color: #5baa3f;
    
    }

    /*Nastavitve za naslov font*/
    .naslov {
        font-weight: bold;
        font-size: 25px;
    }



    #container {
        height: 200px; 
        min-width: 100px;
        max-width: 300px;
    }

    /*Nastavitve za gumb vklop/izklop*/
    .Gumb_vklop_izklop {
        border-style: none;
        background-color: #585858;
        color:rgb(255, 255, 255);
        font-weight: bold;
        border-radius: 7px;
        font-size: 20px;
        width: 25%;
        height: 12.5%;
        
    }

    /*Koregiranje položaja outputa temperature iz JS*/
    .temp_flex {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    /*Nastavitve fonta za output iz JS za temp, vlago, tekst*/
    .p1 {
        font-size: 20px;
        font-weight: 500;
        color: #585858;
        margin-left: 7px;
        
    }

    /*Položaj celotnega containerja za gumb*/
    .vklop_izklop {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
        justify-content: center;
    }

    /*Definiranje kontajnerja za stanje klime in vse elemente v kontajnerju*/
    .stanje_klime {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
         
    }

    /*Nastavitve za tekst znotraj .stanje_klime*/
    .tekst_stanje {
        font-size: 20px;
        font-weight: bold;
    }

    
    /*Definiranje položaja grafa temperature*/
    .graf_temp {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        
        
    }


}



/*Prilagoditev zaslona za široke zaslone (landscape) */
@media only screen and (min-width: 900px) {

    
    /*Nastavitve za kontainer od naslova*/
.Naslov_container {
    display: flex;
    align-items: center;
    
    margin-bottom: 5rem;
    
}
/*Poudarek za besedo "Nadzorna"*/
.highlight {
    color: #5baa3f;
    
}


/*Nastavitve za naslov font*/
.naslov {
    font-weight: bold;
    font-size: 50px;
    
}


/*Definiranje polja v glavnem containerju in njegovih elementov*/
.Glavni_container {
    display: grid;
    grid-column-gap: 2em;
    max-width: auto;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas:
    "A1 A2"
    "B1 B2"
    "C1 C2" ;
}

/*Velikost prostora za grafe*/
.graf {
    width: 20em;
    height: 20em;
    background-color: #d0f1c4;
    margin-left: 5%;
}

/*Barva podlage za grafe*/
.podlaga{
    background-color: #f0f6ee;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

/*Definiranje razvrstitve znotraj grafa temperature*/
.graf_temp_celota {
    grid-area: A1;
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas:
    "A1"
    "B1";
    
}

/*Definiranje položaja teksta grafa temperature*/
.temp_tekst {
    grid-area: A1;
}

/*Definiranje položaja grafa temperature*/
.graf_temp {
    display: flex;
    grid-area: B1;
    justify-content:center;
    align-items: flex-end;
    
}

#container {
    height: 320px; 
    min-width: 320px;
    
}

/*Koregiranje položaja outputa temperature iz JS*/
.temp_flex {
    display: flex;
    align-items: flex-end;
}


/*Nastavitve fonta za output iz JS za temp, vlago, tekst*/
.p1 {
    font-size: 30px;
    font-weight: 500;
    color: #585858;
    margin-left: 10px;
}

/*Nastavitve fonta za tekst znotraj grafov*/
.siva {
    color: #585858;
    margin-left: 5%;
}

/*Položaj celotnega containerja za gumb*/
.vklop_izklop {
    display: flex;
    grid-area: A2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10em;
}

/*Nastavitve za gumb vklop/izklop*/
.Gumb_vklop_izklop {
    border-style: none;
    background-color: #585858;
    color:rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 7px;
    font-size: 20px;
    width: 25%;
    height: 22.5%;
    
}

/*Definiranje kontajnerja za stanje klime in vse elemente v kontajnerju*/
.stanje_klime {
    display: flex;
    grid-area: B2;
    flex-direction: column;
    align-items: center;
    margin-top: -10em;
}

/*Nastavitve za tekst znotraj .stanje_klime*/
.tekst_stanje {
    font-size: 35px;
    font-weight: bold;
}

/*Nastavitve ozadja znotraj body*/
.ozadje_notranjost{
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}


}